執行 lab7_1.sql 檔案建立 MY_EMPLOYEE 資料表
 CREATE TABLE MY_EMPLOYEE
(ID         INT CONSTRAINT MY_EMPLOYEE_ID_NN   NOT NULL,
 LAST_NAME  VARCHAR(25),
 FIRST_NAME VARCHAR(25),
 USERID     VARCHAR(8),
 SALARY     decimal(9,2)
);